
<launch>

  <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>

  <include file="$(find fdilink_ahrs)/launch/fdilink_ahrs.launch"/>

<include file="$(find smorphi_controller)/launch/smorphi_controller.launch"/>

  <include file="$(find robot_localization)/launch/ekf_template.launch"/>


  <!-- move_base -->

<include file="$(find smorphi_launchers)/launch/gmapping.launch"/>



</launch>
